:root {
  --accent-1: #204051;
  --accent-2: #3b6978;
  --accent-3: #84a9ac;
  --accent-4: #e7dfd5;

  --light-light: #ffffff;
  --dark-dark: #000000;
  --shadow: rgba(0, 0, 0, 0.25);
  --shadow-dark: rgba(0, 0, 0, 0.5);
}
